*{
    padding: 0;
    margin: 0 auto;
}
li{
    list-style: none;
}
img{
    display: block;
}
.clearfix:after{
	content: ""; display: block; clear: both; visibility: hidden;
	height: 0; overflow: hidden; font-size: 0;
}
.main{
    width:950px ;
    margin: auto;
}

